<h1>{{ title }}</h1>
<input type="text" #name placeholder="Enter your name" name="name"><br>
<input type="text" #address placeholder="Enter your Address" name="address"><br>
<input type="text" #contact placeholder="Enter your contact" name="contact"><br>
<input type="email" #email placeholder="Enter your email" name="email"><br>
<input type="password" #password placeholder="Enter your Password" name="password"><br>
<button (click)="register(name.value, address.value, contact.value, email.value, password.value)">Register</button> 